.menu__btn {
  height: 42px;
  width: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.checkbox {
  width: 1.2rem;
  height: 1.2rem;
  margin-top: 0;
}